.borderTitle{
    /*-fx-border-color: #b3b3b3;*/
    -fx-background-color: #336699;
}

.textTitle{
    -fx-text-fill: white;
}

.idComponent{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #b3b3b3;
}



.logout:hover {
    -fx-text-fill: red;
}

.buttonSquare {
    -fx-background-color: #204060;
    -fx-text-fill: white;
    -fx-border-width: 0;
}

.buttonSquare:hover{
    -fx-border-color: #4d79ff;
    -fx-border-width: 5;
}

.buttonSair {
    -fx-background-color: none;
    -fx-text-fill: black;
    -fx-border-width: 0;
}

.buttonSair:hover{
    -fx-text-fill: red;
    -fx-border-width: 0;
}
