.borderTitle{
    /*-fx-border-color: #b3b3b3;*/
    -fx-background-color: #336699;
}

.textTitle{
    -fx-text-fill: white;
}

.idComponent{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #b3b3b3;
}



.logout {
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-border-width: 1;
}

.logout:hover {
    -fx-text-fill: red;
    -fx-background-color: none;
    -fx-border-width: 1;
}


.buttonCad {
    -fx-background-color: #204060;
    -fx-text-fill: white;
    -fx-border-width: 0;
}

.buttonCad:hover{
    -fx-border-color: #4d79ff;
    -fx-border-width: 2.5;
}

.subtitle-cadastrar{
    -fx-background-color: #b3cce6;
}

.bordaCampos{
    -fx-border-color: gray;
}